{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62,5%; /*10px / 16px */
}

header{
    height: 100vh;
    background-image: url('lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg');
    background-size: cover;
}

h1 {
    font-family:'Courier New';
    font-size: 6rem;
    font-weight: 900;

}